In [149]:
import pandas,os, sys
sys.path.append('../app/tt.xlsx')

In [150]:
df=pandas.read_excel(
    '../app/tt.xlsx', sheet_name='6B4_AI'
)
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,PARUL INSTITUTE OF ENGINEERING AND TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,DIVISION TIMETABLE,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,DIVISION-6B4,NaN,NaN,SEMESTER : 6TH,NaN,NaN,NaN
4,Sr.\nNo.,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online),SATURDAY,NaN,NaN
5,1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608,NaN,NaN,NaN
6,2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN,NaN,NaN,NaN
7,NaN,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608),NaN,NaN,NaN
9,4,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN,NaN,NaN,NaN
10,NaN,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608),NaN,NaN,NaN
12,6,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Sr.\nNo.,Subject Code,Subject Name,NaN,BATCH,Subject Faculty Name,NaN,PUMIS ID,EMAIL ADDRESS,Link to Join Online Session

In [151]:
shape=df.shape
shape

(33, 10)

In [152]:
drop_these=[]
for i in range(0,shape[0]):
    if(i>3 and i<13):
        continue
    drop_these.append(i)
df=df.drop(drop_these)
df = df.drop(columns=["Unnamed: 0", "Unnamed: 7",
             "Unnamed: 8", "Unnamed: 9"], axis=1)
df

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
5,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
6,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
7,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
8,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
9,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
10,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
11,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
12,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [153]:
df=df.reset_index(drop=True)
df

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
8,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [154]:
cols = df.iloc[0, :]
df.columns = cols

In [155]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
8,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [156]:
df=df.drop(0)
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
8,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [157]:
df=df.reset_index()

In [158]:
df=df.drop(columns='index')
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
2,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
5,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [159]:
df.iloc[2, :] = df.iloc[2, :].fillna('RECESS')
df.iloc[5, :] = df.iloc[5, :].fillna('RECESS')

In [160]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [161]:
df.iloc[4,0]='01:50 - 02:40'

In [162]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 - 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [163]:
# filling values that are above them
# shape=list(df.shape)
# if (df.iloc[i, j] == float("nan")):
#     df.iloc[i, j] = df[i-1, j]
# df.iloc[:,:].fillna(df.iloc[,:])
# type(shape)
# theres an inbuilt function noob:
df.fillna(method='ffill', inplace=True)

# Final Output:

In [164]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,6B4:ML:AR:N-608
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 - 02:40,LIBRARY,6B4:CD:SK(N-608),LIBRARY,LIBRARY,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)