In [636]:
import pandas

In [637]:
df=pandas.read_excel(
    './6th_Divsion_TT.xlsx', sheet_name='6B4_AI'
)
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,PARUL INSTITUTE OF ENGINEERING AND TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,DIVISION TIMETABLE,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,DIVISION-6B4,NaN,NaN,SEMESTER : 6TH,NaN,NaN,NaN
4,Sr.\nNo.,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online),SATURDAY,NaN,NaN
5,1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608,NaN,NaN,NaN
6,2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN,NaN,NaN,NaN
7,NaN,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608),NaN,NaN,NaN
9,4,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN,NaN,NaN,NaN
10,NaN,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608),NaN,NaN,NaN
12,6,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Sr.\nNo.,Subject Code,Subject Name,NaN,BATCH,Subject Faculty Name,NaN,PUMIS ID,EMAIL ADDRESS,Link to Join Online Session

In [638]:
shape=df.shape
shape

(33, 10)

In [639]:
drop_these=[]
for i in range(0,shape[0]):
    if(i>3 and i<13):
        continue
    drop_these.append(i)
df=df.drop(drop_these)
df = df.drop(columns=["Unnamed: 0", "Unnamed: 7",
             "Unnamed: 8", "Unnamed: 9"], axis=1)
df

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
5,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
6,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
7,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
8,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
9,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
10,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
11,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
12,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [640]:
df=df.reset_index(drop=True)
df

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
8,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [641]:
cols = df.iloc[0, :]
df.columns = cols

In [642]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
8,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [643]:
df=df.drop(0)
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
1,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
2,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
8,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [644]:
df=df.reset_index()

In [645]:
df=df.drop(columns='index')
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
2,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
5,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [646]:
df.iloc[2, :] = df.iloc[2, :].fillna('RECESS')
df.iloc[5, :] = df.iloc[5, :].fillna('RECESS')

In [647]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [648]:
df.iloc[4,0]='01:50 - 02:40'

In [649]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,NaN
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 - 02:40,LIBRARY,6B4:CD:SK(N-608),NaN,LIBRARY,NaN
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,NaN,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),NaN,NaN

In [650]:
# filling values that are above them
# shape=list(df.shape)
# if (df.iloc[i, j] == float("nan")):
#     df.iloc[i, j] = df[i-1, j]
# df.iloc[:,:].fillna(df.iloc[,:])
# type(shape)
# theres an inbuilt function noob:
df.fillna(method='ffill', inplace=True)

# Final Output:

In [651]:
df

,DAY\nTIMING,MONDAY (online),TUESDAY,WEDNESDAY,THURSDAY,FRIDAY (online)
0,10:00 - 11:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:ML:TM1:N-607,6B4:MAD:BM,6B4:ML:AR:N-608
1,11:00 - 12:00,6B4:CS:F1,6B4:GPU:MK(N-608),6B4:CD:SK(N-607),6B4:MAD:BM,6B4:ML:AR:N-608
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B4:MAD:F1,6B4:ES: (N-608),LIBRARY,6B4:CS:F1,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
4,01:50 - 02:40,LIBRARY,6B4:CD:SK(N-608),LIBRARY,LIBRARY,6B41:CD:SK:(N-608)\n 6B42:CD:RV:(N-608)
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:CD:SK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)
7,04:00 - 05:00,6B41:CS:F1 6B42:CS:F1,6B4:ML:AR:N-608,6B4:GPU:MK(N-606),6B41:MAD:BM 6B42:MAD:BM,6B41:GPU:MK:(N-608)\n 6B42:GPU:YB:(N-608)

In [652]:
# in any col,row; if there is a 'RECESS'; fill the entire row with that RECESS value

# recess_columns=df[df.iloc[:,:]=='RECESS']
# for i in recess_columns.iloc[i,]:
#     if(i==''
        
#     ):
#         recess_columns.drop(i)

# Test:

In [653]:
dff=pandas.read_excel('./6th_Divsion_TT.xlsx')

In [654]:
df1 = pandas.read_excel(
    './6th_Divsion_TT.xlsx', sheet_name='6B5_AI'
)
df1.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,PARUL INSTITUTE OF ENGINEERING AND TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,DIVISION TIMETABLE,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,DIVISION-6B5,NaN,NaN,SEMESTER : 6TH,NaN,NaN,NaN
4,Sr.\nNo.,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY,SATURDAY,NaN,NaN
5,1,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604,NaN,NaN,NaN
6,2,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN,NaN,NaN,NaN
7,NaN,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604),NaN,NaN,NaN
9,4,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604),NaN,NaN,NaN
10,NaN,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604),NaN,NaN,NaN
12,6,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604),NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Sr.\nNo.,Subject Code,Subject Name,NaN,BATCH,Subject Faculty Name,NaN,PUMIS ID,EMAIL ADDRESS,Link to Join Online Session

In [655]:
df1=df1.drop(columns=["Unnamed: 0", "Unnamed: 7",
                  "Unnamed: 8", "Unnamed: 9"], )
df1

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,PARUL INSTITUTE OF ENGINEERING AND TECHNOLOGY,NaN,NaN,NaN
1,NaN,NaN,DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING,NaN,NaN,NaN
2,NaN,NaN,DIVISION TIMETABLE,NaN,NaN,NaN
3,NaN,NaN,DIVISION-6B5,NaN,NaN,SEMESTER : 6TH
4,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY
5,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604
6,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN
7,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
8,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604)
9,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604)
10,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
11,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604)
12,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604)
13,NaN,NaN,NaN,NaN,NaN,NaN
14,Subject Code,Subject Name,NaN,BATCH,Subject Faculty Name,NaN
15,NaN,NaN,NaN,NaN,Short Name,Full Name
16,203105328,Project,NaN,6B5,NaN,NaN
17,203105351,Compiler Design,NaN,6B5,SK,Sushil Kumar
18,203105361,Compiler Design Laboratory,NaN,6B51,SK,Sushil Kumar
19,NaN,NaN,NaN,6B52,BRD,Bhavika Darji
20,203105397,GPU computing,NaN,6B5,MK,Muskan Kumari
21,203105398,GPU computing Laboratory,NaN,6B51,MK,Muskan Kumari
22,NaN,NaN,NaN,6B52,YB,Yogita Barse
23,203105399,Machine Learning,NaN,6B5,AR,Aquid Rashid
24,203105403,Machine Learning Laboratory,NaN,6B51,AR,Aquid Rashid
25,NaN,NaN,NaN,6B52,AR,Aquid Rashid
26,203105326,Cyber Security,NaN,6B5,AV,AMAN VERASIA
27,203105327,Cyber Security Laboratory,NaN,6B51,AV,AMAN VERASIA
28,NaN,NaN,NaN,6B52,AV,AMAN VERASIA
29,203193353,Employbility Skills,NaN,NaN,RD,RATNADEEP MACWANA
30,203105359,Mobile Application Development,NaN,6B1,BM,BALA MURGAN
31,203105360,Mobile Application Development Laboratory,NaN,6B11,BM,BALA MURGAN
32,NaN,NaN,NaN,6B12,BM,BALA MURGAN

In [656]:
drop_these=[]
for i in range(0,shape[0]):
    if(i>3 and i<13):
        continue
    drop_these.append(i)
df1=df1.drop(drop_these)
df1

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
4,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY
5,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604
6,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN
7,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
8,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604)
9,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604)
10,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
11,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604)
12,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604)

In [657]:
df1 = df1.reset_index(drop=True)
df1

,Unnamed: 1,Unnamed: 2,FACULTY OF ENGINEERING & TECHNOLOGY,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY
1,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604
2,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604)
5,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604)
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604)
8,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604)

In [658]:
cols = df1.iloc[0, :]
df1.columns = cols
df1=df1.drop(0)
# df1.iloc[0, 1:]
df1

,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY
1,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604
2,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN
3,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
4,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604)
5,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604)
6,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
7,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604)
8,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604)

In [659]:
df1=df1.reset_index()
df1 = df1.drop(columns='index')
# df1=df1.drop(0)
df1

,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY
0,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604
1,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN
2,12:00 - 01:00,RECESS,NaN,NaN,NaN,NaN
3,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604)
4,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604)
5,02:40 - 03:00,RECESS,NaN,NaN,NaN,NaN
6,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604)
7,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604)

In [661]:
df1.iloc[2, :] = df1.iloc[2, :].fillna('RECESS')
df1.iloc[5, :] = df1.iloc[5, :].fillna('RECESS')
df1

,DAY\nTIMING,MONDAY,TUESDAY(online),WEDNESDAY(online),THURSDAY,FRIDAY
0,10:00 - 11:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,6B51:CD:SK:(N-604)\n 6B52:CD:BRD:(N-604),LIBRARY/6B5:ML:AR:N-604
1,11:00 - 12:00,6B5:ML:AR:N-604,6B5:CS:F1,6B5:MAD:F1,NaN,NaN
2,12:00 - 01:00,RECESS,RECESS,RECESS,RECESS,RECESS
3,01:00 - 01:50,6B5:CD:BRD(N-604),6B5:MAD:BM,6B5:CS:F1,6B5:ML:TM1:N-604,6B5:GPU:MK:(N -604)
4,01:50 02:40,6B5:GPU:MK:(N -604),LIBRARY,LIBRARY,6B5:CD:BRD(N-604),6B5:GPU:MK:(N -604)
5,02:40 - 03:00,RECESS,RECESS,RECESS,RECESS,RECESS
6,03:00 - 04:00,6B5:ML:AR:N-604/ LIBRARY/,6B51:CS:F1 6B52:CS:F1\n,6B51:MAD:BM 6B52:MAD:BM,6B51:GPU:MK:(N-202)\n 6B52:GPU:YB:(N-202),6B5:CD:BRD(N-604)
7,04:00 - 05:00,NaN,NaN,NaN,NaN,6B5:ES: (N-604)